# Node modules
node_modules

# Logs en debug bestanden
npm-debug.log
yarn-debug.log
yarn-error.log

# Omgevingsvariabelen (GEHEIM)
.env

# Build output (gegenereerd door tsc — hoort niet in Git)
dist
build

# OS specifieke bestanden
.DS_Store
